#internal-table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}
#internal-table{
  width: 70vw;
}

#internal-table th,
#internal-table td {
  border: 0.5px solid #000 !important; /* Use 0.5px instead of 1px */
}

#internal-table {
  border: 1px solid #000 !important; /* Outer border */
}
table , tr ,th,td{
    border: 1px solid black;
}
.pannel{
      display: flex;
      justify-content: space-between;
        width: 60vw;    
        gap:15px ;  
        margin: 10vh auto;
    
        
}.pannel .analytics{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
   width: 30vw;
    color: white;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}.clear{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 50px;
}.analytics:hover{
    transform: scale(1.03);
}tr.make-center td{
  text-align: center;
}