.grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}.side-bars{
    color:rgb(0, 0, 0);
    display: flex;
    align-items:flex-start;
    padding-top: 6vh;
    position:sticky;
    padding-left: 30px;
    height: 100vh;
    background-color: rgb(253, 253, 253);
}.side-bars ul{
    
    list-style: none;
}.side-bars ul li{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px;
    width:12vw;
    margin-bottom: 10vh;
}a{
    padding: 17px;
    width: 20px;
    border-radius: 20px;
    padding-right: 40px;
    text-decoration: none;
}
li a.active{
    color:white;
    background-color: rgb(125, 44, 223);   
}a:hover{
    background-color: rgb(236, 236, 236);
}
.pages{
    background-color: rgb(246, 246, 246);
}.main-content{
    min-height: 100vh;
    border-radius: 30px;
    padding: 2%;
    margin: 20px 0px 0px 20px;
    background-color: white;
}