h3{
    color:rgb(32, 31, 36);
    text-align: center;
    padding: 40px;
    
}
table{
    width: 60vw;
    font-weight: 400;
    padding: 20px;
    margin: 0 auto;
    padding-bottom: 20vh;
}/* Add this to PartA.css */
#invoice-table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

#invoice-table th,
#invoice-table td {
  border: 0.5px solid #000 !important; /* Use 0.5px instead of 1px */
}

#invoice-table {
  border: 1px solid #000 !important; /* Outer border */
}
.items{
    text-align: center;
}.final1{
    text-align: end;
}td{
    padding: 3px;
}.btn-pdf{
    color: white;
    background:linear-gradient(to top right, rgb(34, 9, 74) ,rgb(108, 53, 192));
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    width: max-content;
    cursor: pointer;
    text-align: center;
}.btns{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}