h3{
    color:rgb(32, 31, 36);
    text-align: left;
    padding: 40px 0px 5px 40px;
    font-size: 2rem;
}h5{
    text-align: left;
    color:#2d2d2d;
    padding:0px 0px 40px 40px;

}#invoice{
    width: 100vw;
}
table{
 border-collapse: collapse !important;
  border-spacing: 0 !important;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
}/* Add this to PartA.css */
#invoice-table {
width: 70vw !important;
  margin-bottom:25px ;

   border: 1px solid #000 !important; /* Outer border */

}

#invoice-table th,
#invoice-table td {
  font-size: 13px;
  border: 0.5px solid #000 !important; /* Use 0.5px instead of 1px */
}

.items{
    text-align: center;
}.final1{
    text-align: end;
}td{
    padding: 3px;
}.final1 td {
  min-height: 30px;
  padding: 10px 0;
}

.btn-pdf{
    color: white;
    border: none;
    scale: 0.9;
    background:linear-gradient(to top right, rgb(34, 9, 74) ,rgb(108, 53, 192));
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;

    width: max-content;
    cursor: pointer;
    text-align: center;
}.btns{
    display: flex;
    gap:20px;
    padding-left: 2%;
    margin-top: 2rem;
}#name{
    font-size: 90%;
    min-height: 20px;
    width:70%;
}#data{
    width: 95%;
    font-size: 90%;
}
#invoice-table #items-head td:first-child {
  width: 5% !important;
}

#invoice-table #items-head td:nth-child(2) {
  width: 30%;
}

#invoice-table #items-head td:nth-child(3) {
  width: 14%;
}
#invoice-table #items-head td:nth-child(4) {
  width: 8%;
}
#invoice-table #items-head td:nth-child(5) {
  width: 10%;
}
#invoice-table #items-head td:nth-child(6) {
  width: 13%;
}#sd{
    width: 60%;
}
.txt-left{
    position: absolute;
    right: 0;
    padding-left: 5px;
    left: calc(5/6 *100);
    text-align: left;
}
