table , tr ,th,td{
    border: 1px solid black;
}
.pannel{
      display: flex;
      justify-content: space-between;
        width: 60vw;    
        gap:15px ;  
        margin: 10vh auto;
    
        
}.pannel .analytics{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
   width: 30vw;
    color: white;
    padding: 15px;
    border-radius: 10px;
}.analytics p{

}